{% import "EgzaktMailChimpBundle:MailChimp:forms.html.twig" as forms %}

{% stylesheets
    '@EgzaktMailChimpBundle/Resources/public/css/*'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}

<div id="mailchimp_wrapper">
    <form name="subscribe" id="mailchimp_form" method="post" action="{{ path('EgzaktMailChimpBundle_subscribe', { id: subscriberList.id }) }}">

        {% block error %}
            <div class="error_message"></div>
        {% endblock error %}

        {% block form %}
            <table cellpadding="0" cellspacing="0" border="0">
                {% for field in fields %}
                    {% if (field.field_type == 'text') %}
                        {{ forms.input(field.name, field.tag, 'text', field.default, null, field.req) }}
                    {% endif %}

                    {% if ((field.field_type == 'dropdown') or (field.field_type == 'radio')) %}
                        {{ forms.select(field.name, field.tag, field.field_type, field.choices, field.default, null, field.req) }}
                    {% endif %}

                    {% if (field.field_type == 'date') %}
                        {{ forms.input(field.name, field.tag, 'text', field.default, 'calendar', field.size, field.req) }}
                    {% endif %}
                {% endfor %}

                {% for field in groupings %}
                    {{ forms.select(field.name, field.id, field.form_field, field.groups, null, null, false) }}
                {% endfor %}

                <tr>
                    <td colspan="2" class="submit_colomn">
                        {% block submitButton %}
                            <input type="submit" name="submit_subscribe" value="{% trans %}Submit{% endtrans %}" />
                        {% endblock submitButton %}
                    </td>
                </tr>
            </table>
        {% endblock form %}
    </form>
</div>

{% include 'EgzaktMailChimpBundle:MailChimp:displayFormJavascript.html.twig' %}