{% import "UnifikMailChimpBundle:MailChimp:forms.html.twig" as forms %}

{% stylesheets
    '@UnifikMailChimpBundle/Resources/public/css/*'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}

{% set id = random() %}

<div id="mailchimp_wrapper_{{ id }}">
    <form name="subscribe" id="mailchimp_form_{{ id }}" method="post" action="{{ path('unifik_mailchimp_subscribe', { id: subscriber_list.id }) }}">

        {% block error %}
            <div class="error_message"></div>
        {% endblock error %}

        {% block form %}
            <table cellpadding="0" cellspacing="0" border="0">
                {% for field in fields %}
                    {% if (field.field_type == 'text') %}
                        {{ forms.input(field.name, field.tag, 'text', field.default, null, field.req) }}
                    {% endif %}

                    {% if ((field.field_type == 'dropdown') or (field.field_type == 'radio')) %}
                        {{ forms.select(field.name, field.tag, field.field_type, field.choices, field.default, null, field.req) }}
                    {% endif %}

                    {% if (field.field_type == 'date') %}
                        {{ forms.input(field.name, field.tag, 'text', field.default, 'calendar', field.req) }}
                    {% endif %}

                    {% if (field.field_type == 'address') %}
                        {% for subField, required in {'addr1': true, 'addr2': false, 'city': true, 'state': true, 'zip': true} %}
                            {{ forms.input(field.name, field.tag, 'text', field.default, null, required, subField) }}
                        {% endfor %}
                        {{ forms.select(field.name, field.tag, 'dropdown', countries, 'Canada', null, true, 'country', true) }}
                    {% endif %}
                {% endfor %}

                {% for field in groupings %}
                    {{ forms.select(field.name, field.id, field.form_field, field.groups, null, null, false) }}
                {% endfor %}

                <tr>
                    <td colspan="2" class="submit_colomn">
                        {% block submit_button %}
                            <input type="submit" name="submit_subscribe" value="{% trans %}Submit{% endtrans %}" />
                        {% endblock submit_button %}
                    </td>
                </tr>
            </table>
        {% endblock form %}
    </form>
</div>

{% include 'UnifikMailChimpBundle:MailChimp:display_form_javascript.html.twig' with { 'id': id } %}